@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppis", sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background: linear-gradient(#131d33, #2faedd);
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
  text-shadow: 1vh 1vh 3vh black;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 2vh;
}
header ul li a {
  text-decoration: none;
  padding: 0.6vh 1.5vh;
  color: #fff;
  border-radius: 2vh;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #131d33;
  box-shadow: 0.3vh 0.3vh 3vh black;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #241533, transparent);
  z-index: 100;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#moon {
  mix-blend-mode: screen;
}
section img#back1 {
  z-index: 10;
}
section img#back2 {
  z-index: 9;
}
section img#back3 {
  z-index: 8;
}

#text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 3vh;
  z-index: 8;
  text-align: center;
  transform: translateY(-10vh);
  text-shadow: 1vh 1vh 3vh black;
}
#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #131d33;
  font-size: 1.5em;
  z-index: 9;
  box-shadow: 0.5vh 0.5vh 3vh black;
}
.content {
  position: relative;
  background: linear-gradient(#241533, #37163c);
  padding: 5% 15% 15% 15%;
}

.about,
.projects,
.cv,
.contact {
  background: rgba(0, 0, 0, 0.5);
  padding: 2vh;
  border-radius: 2vh;
  margin-bottom: 20vh;
  color: white;
  box-shadow: 0.5vh 0.5vh 3vh black;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 2vh;
  gap: 2vh;
}
.projects {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat (3, 100px);
}
.projects :nth-child(1),
.projects :nth-child(5) {
  grid-column: span 3;
}
.about {
  grid-template-columns: 1fr 1fr;
}
.about h2 {
  font-size: 3rem;
}

.about :nth-child(1),
.about :nth-child(4),
.about :nth-child(5) {
  grid-column: span 2;
}
.about :nth-child(2) {
  text-align: left;
}
.about :nth-child(3) {
  grid-row: 3/2;
}
.cv {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.contact {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat (3, auto);
}
.contact :nth-child(1),
.contact :nth-child(5) {
  grid-column: span 3;
}
.contact img {
  background: white;
  border-radius: .3rem;
  object-fit: cover;
}

.table2 {
  position: fixed;
  top: 90%;
  left: 80%;
  z-index: 100;
}

.table2 td {
  float: right;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 3vh;
  padding: 0.7vw;
  margin: 0.7vw;
}
.table2 td:hover {
  transform: scale(1.25);
  transition: 1s;
  box-shadow: 0.5vh 0.5vh 3vh rgb(82, 82, 82);
}
#ikona {
  background-color: white;
  border-radius: 0.7vh;
  margin-left: 5vh;
  height: 5vh;
}
#ikona:hover {
  transform: scale(1.25);
  transition: 1s;
  box-shadow: 0.5vh 0.5vh 3vh rgb(82, 82, 82);
}

#myphoto {
  background-color: rgba(0, 0, 0, 0.93);
  border-radius: 2vh;
  height: 40vh;
  opacity: 0.8;
}

.screens {
  max-height: 20rem;
  max-width: 15rem;
  border-radius: 2vh;
}
#one,
#two,
#three,
#four {
  padding-top: 15vh;
}


/* For smaller devices phones etc */

@media only screen and (max-width: 500px) {
  header .logo {
    font-weight: 200;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.623);
    border-radius: 10%;
    box-shadow:  1vh 1vh 3vh black;
  }
  header ul {
    display:none;
  }  
  #text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 1.3rem;
    z-index: 8;
    text-align: center;
    transform: translateY(-10vh);
    text-shadow: 1vh 1vh 3vh black;
  }
  #one,
  #two,
  #three,
  #four {
    display:none;
  }
  
  .content {
    padding: 1% 5% 15% 5%;
  }
  
  .about,
  .projects,
  .cv,
  .contact {
    padding: 2vh;
    font-size: 1rem;
    gap: 1em;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
  .projects :nth-child(1),
  .projects :nth-child(5) {
    grid-column: 1;
  }
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat (4, auto);
  }
  .about :nth-child(1),
  .about :nth-child(4),
  .about :nth-child(5) {
    grid-column: 1;
  }
  .about :nth-child(2) {
    text-align: center;
  }
  .about :nth-child(3) {
    grid-row: 3/2;
  }
  .cv {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .contact {
    display: none;
  }
  .table2 {
    left: 25%; 
  }
  
  .table2 td {
    border-radius: 2vh;
  }
}